*
{
  font-family: 'Inter', 'Lato', sans-serif;
}

.navbar{
  padding-left: 5rem;
  padding-right: 5rem;
  height: 10vh; /*Cambio Isaac */
  background-color: transparent; /*Cambio Isaac */
  width: 100%; /*Cambio Isaac */
  z-index: 1000; /*Cambio Isaac */
}

.container-fluid
{
  padding-left: 0;
}

.nav-link
{
  margin-right: 0.75rem;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

#logo
{
  font-weight: 600;
  color: black;
  border-radius: 5px;
  transition: letter-spacing 0.5s ease;
}

#logo:hover
{
  letter-spacing: 1px;
}

#info-btn, #user-btn, #cart-btn
{
  position: relative;
  border: 2px solid black;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;

  border-radius: 5px;
  padding: 0.2rem 1rem;
}

#cart-btn
{
  background-color: black;
  color: white;
}

#info-btn::after
{
  display: block;
  content: '';
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#info-btn::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: white;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

#info-btn::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: white;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

#info-btn:hover::before {
  transform: translateY(-25px);
  height: 0;
}

#info-btn:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

#info-btn:hover {
  border: 2px solid black;
}

#user-btn:hover, #cart-btn:hover
{
  transition: letter-spacing 0.5s ease;
  letter-spacing: 1px;
}

#info-btn span {
  position: relative;
  z-index: 3;
}

.nav-item {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

#Product-Card
{
  cursor: pointer;
}

#Product-Card:hover, #Category-Card:hover
{
  transform: scale(1.05);
  transition: 0.3s;
}

footer
{
  margin-bottom: 0;
  height: 12vh;
  font-size: small;
  padding: 2rem;
  background-color: rgb(43, 43, 43);
  color: white;
}

footer a
{
  color: white;
  text-decoration: none;
}

/* --- Modals --- */

.modal-content {
    color: #000;
    z-index: 10;
}s

.modal-content .modal-title {
    font-size: 4vh;
    font-weight: bold;
}

.btn-primary {
    background-color: black;
    border: none !important;
    z-index: 1;
}

.btn-primary:hover {
    border: 1px solid black !important;
    background-color: white !important;
    color: black;
}

.btn-signup{
    margin-top: 1.5vh !important;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
