*{
    font-family: 'Inter', 'Lato', sans-serif;
}

body{
    background-image: radial-gradient(circle 100vh at bottom, #bba5bb, #ffffff);
    font-family: 'Nunito', sans-serif;
  }

.hero{
    height: 100vh;
    background-image:linear-gradient(transparent, white), url(../images/hero1.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.navbar{
    height: 15vh;
    position: absolute;
}

#info-btn::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #9ad4c4;
    transition: 0.3s ease-out;
    transform: scaleY(1);
    border-radius: 4px 4px 0 0;
  }

.title h2{
    font-size: 5vh;
    padding-left: 5rem;
}

.title h3{
    margin-top: 50px;
    font-size: 3vh;
    padding-left: 5rem;
    font-weight: 400;

}


/*--- Search---*/

.custom-search {
    box-shadow: 0 0 10px #bba5db;
    font-size: 3vh;
    text-indent: 3vh;
    border-radius: 5vh;
    height: 8vh;
}

.custom-search::placeholder {
    font-size: 3vh;
    text-indent: 3vh;
}

.custom-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}


.custom-search:focus {
    outline: none;          
    box-shadow: 0 0 30px #bba5db;;
    border: none;       
}

/*--- Featured---*/

.featured-section {
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-title {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.card {
    border: none;
    height: 280px; 
    background-color: #000000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
}

a, a:focus, a:visited {
    color: inherit; 
    text-decoration: none; 
    outline: none; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.featured-section h2{
    padding: 50px 50px 30px 50px;
    color: white;
    text-align: left;
}

.featured1 {
    background-image: url("../images/image1.png");
    background-size: cover;
}

.featured2 {
    background-image: url("../images/image2.png");
    background-size: cover;
}

.featured3 {
    background-image: url("../images/image3.png");
    background-size: cover;
}

.featured4 {
    background-image: url("../images/image4.png");
    background-size: cover;
}

.featured5 {
    background-image: url("../images/image5.png");
    background-size: cover;
}

.featured6 {
    background-image: url("../images/image6.png");
    background-size: cover;
}




/*--- Curated and Footer--*/

.curators-picks {
    height: 50vh; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-section {
    height: 50vh; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    text-align: left;
    margin-bottom: 2rem;
}

hr {
    margin-top: 0;
    margin-bottom: 1rem;
}

.contact-message {
    margin-bottom: 2rem;
    font-size: larger; 
}

.footer {
    margin-top: auto ; 
    font-size: smaller;
}

.footer a {
    margin: 0 1rem ;
    color: #000 ;
    text-decoration: none ;
}

.contact-section p{
    text-align: left;
    font-size: 6vh;
    color: gray;
    margin-bottom: 120px;
}

.contact-section-text a{
    text-decoration: none;
    color: gray;
}



.contact-section h2{
    text-align: left;
    font-size: 8vh;
    font-weight: 400;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }

.curated1{
    background-image: url("../images/image1.png");
    background-size: cover;
}

.curated2{
    background-image: url("../images/image2.png");
    background-size: cover;
}   

.curated3{
    background-image: url("../images/image3.png");
    background-size: cover;
}

.curated4{
    background-image: url("../images/image4.png");
    background-size: cover;
}

.curated5{
    background-image: url("../images/image5.png");
    background-size: cover;
}

.curated6{
    background-image: url("../images/image6.png");
    background-size: cover;
}

/* --- Modals --- */

.modal-content {
    color: #000;
    z-index: 10;
}s

.modal-content .modal-title {
    font-size: 4vh;
    font-weight: bold;
}

.btn-primary {
    background-color: black;
    border: none !important;
    z-index: 1;
}

.btn-primary:hover {
    border: 1px solid black !important;
    background-color: white !important;
    color: black;
}

.btn-signup{
    margin-top: 1.5vh !important;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
