.nav-tabs {
    border: none;
    padding: none;
}

.nav-tabs .nav-link {
    border: none;
    box-shadow: none;
    border-bottom: 2px solid lightgrey;
    margin-right: 0px;
    color: grey;
    text-align: left;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: black;
}

.marker{
    float: right;
}

.btn-black {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.btn-black:hover {
    border: 2px solid black;
}

.m-container {
    height: calc(100vh - 37vh);
}

#back-btn {
    text-decoration: none;
    color: grey;
}

#back-btn:hover {
    text-decoration: underline;
}

#myDropzone {
    border: 2px dashed black;
    background-color: whitesmoke;
}